<h1>OPERASI ARITMATIKA</h1>

In [ ]:
x = int(input("Masukkan nilai x: "))
y = int(input("Masukkan nilai y: "))

hasilTambah = x + y
hasilKurang = x - y
hasilKali =  x * y
hasilBagi = x / y
hasilMod = x % y
hasilPangkat = x ** y
hasilBagiBulat = x // y

print("Hasil penjumlahan",x,"+",y,"=",hasilTambah)
print("Hasil pengurangan",x,"-",y,"=",hasilKurang)
print("Hasil perkalian",x,"x",y,"=",hasilKali)
print("Hasil pembagian",x,"/",y,"=",hasilBagi)
print("Hasil modulus",x,"%",y,"=",hasilMod)
print("Hasil pangkat",x,"^",y,"=",hasilPangkat)
print("Hasil pembagian bulat",x,"//",y,"=",hasilBagiBulat)

<h1>OPERASI PENUGASAN</h1>

In [36]:
number = int(input("Isikan Nilai: "))
print("Nilai dari variabel 'number'",number)
number+=5
print("Setelah ditambah dengan 5:",number)
number-=10
print("Setelah dikurangi dengan 10:",number)
number//=2
print("Selanjutnya dibagi dengan 2:",number)
number*=5
print("Terakhir dikalikan 5:",number)

Isikan Nilai:  10

Nilai dari variabel 'number' 10
Setelah ditambah dengan 5: 15
Setelah dikurangi dengan 10: 5
Selanjutnya dibagi dengan 2: 2
Terakhir dikalikan 5: 10

<h1>OPERASI PERBANDINGAN</h1>

In [40]:
val1 = int(input("Isikan untuk Value 1: "))
val2 = int(input("Isikan untuk Value 2: "))

print("Apakah",val1,">",val2,"?", val1 > val2)
print("Apakah",val1,"<",val2,"?", val1 < val2)
print("Apakah",val1,">=",val2,"?", val1 >= val2)
print("Apakah",val1,"<=",val2,"?", val1 <= val2)
print("Apakah",val1,"==",val2,"?", val1 == val2)
print("Apakah",val1,"!=",val2,"?", val1 != val2)

Isikan untuk Value 1:  5
Isikan untuk Value 2:  9

Apakah 5 > 9 ? False
Apakah 5 < 9 ? True
Apakah 5 >= 9 ? False
Apakah 5 <= 9 ? True
Apakah 5 == 9 ? False
Apakah 5 != 9 ? True

<h1>OPERATOR LOGIKA</h1>

In [72]:
number1 = int(input("Isikan untuk Number 1: "))
number2 = int(input("Isikan untuk Number 2: "))
number3 = int(input("Isikan untuk Number 3: "))
number4 = int(input("Isikan untuk Number 4: "))

print("Apakah",number1,">",number2,"and",number3,"==",number4,"?")
print(number1>number2 and number3==number4)

print("Apakah",number1,">",number2,"and",number3,"==",number4,"?")
print(number1>number2 or number3==number4)

#nand (not and)
print("Apakah",number1,">",number2,"and",number3,"==",number4,"?")
print(not(number1>number2 and number3==number4))

#nor (not or)
print("Apakah",number1,">",number2,"and",number3,"==",number4,"?")
print(not(number1>number2 or number3==number4))

Isikan untuk Number 1:  5
Isikan untuk Number 2:  4
Isikan untuk Number 3:  3
Isikan untuk Number 4:  2

Apakah 5 > 4 and 3 == 2 ?
False
Apakah 5 > 4 and 3 == 2 ?
True
Apakah 5 > 4 and 3 == 2 ?
True
Apakah 5 > 4 and 3 == 2 ?
False

<H1>OPERASI IDENTITAS</H1>

In [87]:
idty1 = 10
idty2 = "10"
idty3 = idty1

print("Alamat memori idty 1",id(idty1))
print("Alamat memori idty 2",id(idty2))
print("Alamat memori idty 3",id(idty3))

print("=====================================================")

print("Apakah idty1 is idty 2?",idty1 is idty2)
print("Apakah idty2 is idty 3?",idty2 is idty3)
print("Apakah idty3 is idty 1?",idty3 is idty1)

print("=====================================================")

print("Apakah idty1 is not idty 2?",idty1 is not idty2)
print("Apakah idty2 is not idty 3?",idty2 is not idty3)
print("Apakah idty3 is not idty 1?",idty3 is not idty1)

Alamat memori idty 1 140709694221016
Alamat memori idty 2 2357801511328
Alamat memori idty 3 140709694221016
=====================================================
Apakah idty1 is idty 2? False
Apakah idty2 is idty 3? False
Apakah idty3 is idty 1? True
=====================================================
Apakah idty1 is not idty 2? True
Apakah idty2 is not idty 3? True
Apakah idty3 is not idty 1? False

<h1>OPERATOR KEANGGOTAAN</h1>

In [114]:
listFruit = ["Watermelon","Mango","Star Fruit","Pineapple"]
findFruit = input("INSERT YOUR FRUIT: ")
print("is there any",findFruit,"in",listFruit,"?", findFruit in listFruit)
print("is there any",findFruit,"in",listFruit,"?", findFruit not in listFruit)

INSERT YOUR FRUIT:  apel

is there any apel in ['Watermelon', 'Mango', 'Star Fruit', 'Pineapple'] ? False
is there any apel in ['Watermelon', 'Mango', 'Star Fruit', 'Pineapple'] ? True

<h1>OPERATOR BITWISE</h1>

In [124]:
num1 = int(input("MASUKKAN BILANGAN 1: "))
num2 = int(input("MASUKKAN BILANGAN 2: "))


print()
bAnd = num1 & num2
print(bin(num1))
print(bin(num2))
print("==============")
bOr = num1|num2
print(bin(num1))
print(bin(num2))
print("==============")
print(bin(bOr),"=",bOr)

MASUKKAN BILANGAN 1:  8
MASUKKAN BILANGAN 2:  12

0b1000
0b1100
==============
0b1000
0b1100
==============
0b1100 = 12

<h1>OPERATOR TERNARY</h1>

In [133]:
#BILANGAN GANJIL ATAU GENAP
bilangan = int(input("ISIKAN BILANGAN: "))
hasil = "Genap" if bilangan %2==0 else "Ganjil"
print(bilangan,"adalah bilangan",hasil)

ISIKAN BILANGAN:  3

3 adalah bilangan Ganjil

In [3]:
# HARGA
satuEsBuah = 10000
satuEsTeler = 15000
satuEsKelapa = 20000

esBuah = int(input("JUMLAH ES BUAH: "))
esTeler = int(input("JUMLAH ES TELER: "))
esKelapa = int(input("JUMLAH ES KELAPA: "))

jumlahEsBuah = satuEsBuah * esBuah
print("HARGA ES BUAH: ",esBuah,"x",satuEsBuah,"=",jumlahEsBuah)
jumlahEsTeler = satuEsTeler * esTeler
print("HARGA ES TELER: ",jumlahEsTeler,"x",satuEsTeler,"=",jumlahEsTeler)
jumlahEsKelapa = satuEsKelapa * esKelapa
print("HARGA ES KELAPA: ",jumlahEsKelapa,"x",satuEsKelapa,"=",jumlahEsKelapa)

jumlahSeluruh = jumlahEsBuah + jumlahEsTeler + jumlahEsKelapa
print("TOTAL: ",jumlahSeluruh)

diskon = int(jumlahSeluruh/100) * 10 if jumlahSeluruh >= 100000 else 0
print("DAPAT DISKON: ",diskon)
totalHarga = jumlahSeluruh - diskon
print("TOTAL HARGA SELURUH: ",totalHarga)

uangDiberikan = int(input("UANG DIBERIKAN: "))
print

JUMLAH ES BUAH:  1
JUMLAH ES TELER:  1
JUMLAH ES KELAPA:  1

HARGA ES BUAH:  1 x 10000 = 10000
HARGA ES TELER:  15000 x 15000 = 15000
HARGA ES KELAPA:  20000 x 20000 = 20000
TOTAL:  45000
DAPAT DISKON:  0
TOTAL HARGA SELURUH:  45000

In [3]:
bilangan = input("MASUKKAN BILANGAN: ")
kurang = int(bilangan[0])+int(bilangan[1])+int(bilangan[2])+int(bilangan[3])
hasil = int(bilangan) - kurang
print("HASILNYA: ",hasil)

MASUKKAN BILANGAN:  5678

HASILNYA:  5652