In [169]:
name= "Ibnu Fariz Fauzan Hamzah"
age= 18
address, province= "Cibadak", "7413412"
scorePython= 87.74
isMarried= False

print("Nama           :", name)
print("Umur           :", age)
print("Alamat         :", address, province)
print("Nilai          :", scorePython)
print("Status Menikah : ", isMarried)

Nama           : Ibnu Fariz Fauzan Hamzah
Umur           : 18
Alamat         : Cibadak 7413412
Nilai          : 87.74
Status Menikah :  False

In [171]:
print("Tipe Data <name>", type(name))
print("Tipe Data <age>", type(age))
print("Tipe Data <address>", type(address))
print("Tipe Data <province>", type(province))
print("Tipe Data <scorePython>", type(scorePython))
print("Tipe Data <isMarried>", type(isMarried))

Tipe Data <name> <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <address> <class 'str'>
Tipe Data <province> <class 'str'>
Tipe Data <scorePython> <class 'float'>
Tipe Data <isMarried> <class 'bool'>

In [173]:
#Casting atau konversi Tipe Data
#Konversi dari String ke (int, float, bool)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt,strToFloat,strToBool, sep="-")

#Konversi dari int ke (str, float, bool)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool, sep="-")

#Konversi dari float ke (str,int,bool)
floatToStr = str(scorePython)
floatToInt = int(scorePython)
floatToBool = bool(scorePython)
print(floatToStr,floatToInt,floatToBool, sep="-")

#Konversi dari bool ke (int,float,str)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
boolToStr = str(isMarried)
print(boolToInt,boolToFloat,boolToStr, sep="-")

7413412-7413412.0-True
18-18.0-True
87.74-87-True
0-0.0-False

In [175]:
desimal = 500
biner = 0b1010
octal = 0o377
hexa = 0xff

print("Nilai Desimal     :", desimal)
print("Nilai Biner       :", biner)
print("Nilai Octal       :", octal)
print("Nilai Hexadecimal :", hexa)

print("==========================================")
print("Nilai Biner dari :",desimal,"adalah :", bin (desimal))
print("Nilai Octal dari :",desimal,"adalah :", oct (desimal))
print("Nilai Hexa dari  :",desimal,"adalah :", hex (desimal))

Nilai Desimal     : 500
Nilai Biner       : 10
Nilai Octal       : 255
Nilai Hexadecimal : 255
==========================================
Nilai Biner dari : 500 adalah : 0b111110100
Nilai Octal dari : 500 adalah : 0o764
Nilai Hexa dari  : 500 adalah : 0x1f4

In [183]:
#Tipe Data Collection
#List
cities = ["Sukabumi", "Bandung", "Jakarta", "Yogyakarta", "Bogor"]
lengthCities = len(cities)
print(cities) #semua
print(cities[0]) #Index pertama
print(cities[lengthCities-1]) #Index terakhir
print(cities[lengthCities-1][0])  #Huruf index pertama dalam index terakhir atau index dalam index
print(cities[lengthCities-1][len(cities[lengthCities-1])-1]) #Huruf index terakhir dalam index terakhir atau index dalam index, hitung index dari akhir
cities[0] = "Cibadak" #Mengganti index 0
print(cities)

print("===================================")

#Tuple
names = ("Ibnu","Apay","Pais")
print(names)
print(names[1]) #Memunculkan index 1

print("===================================")

#Dictionary
studentData ={
    "name" : "Apay",
    "age" : 18,
    "address" : {
        "street" : "Cibadak",
        "number" : 1919,
        "province" : "Jawa Barat"
    },
    "isMarried" : False,
    "hobbies" : ["Volleyball", "Futsal"] 
}

print(studentData)
print("Umur  : ", studentData["age"])
print("Alamat: ",studentData["address"]["province"])
print("Hobi  : ",studentData["hobbies"][0])

print("===================================")

#List of Dictionary
studentList = [
    {
    "name" : "Apay",
    "age" : 18,
    "address" : {
        "street" : "Cibadak",
        "number" : 19,
        "province" : "Jawa Barat"
    },
    "isMarried" : False,
    "hobbies" : ["Volleyball", "Football"]
},
 {
    "name" : "Ibnu",
    "age" : 19,
    "address" : {
        "street" : "Cibadak",
        "number" : 33,
        "province" : "Jawa Barat"
    },
    "isMarried" : True,
    "hobbies" : ["Swimming", "Badminton"]
}
]
print(studentList[0])
print(studentList[1])
print(studentList[1]["address"]["province"])

['Sukabumi', 'Bandung', 'Jakarta', 'Yogyakarta', 'Bogor']
Sukabumi
Bogor
B
r
['Cibadak', 'Bandung', 'Jakarta', 'Yogyakarta', 'Bogor']
===================================
('Ibnu', 'Apay', 'Pais')
Apay
===================================
{'name': 'Apay', 'age': 18, 'address': {'street': 'Cibadak', 'number': 1919, 'province': 'Jawa Barat'}, 'isMarried': False, 'hobbies': ['Volleyball', 'Futsal']}
Umur  :  18
Alamat:  Jawa Barat
Hobi  :  Volleyball
===================================
{'name': 'Apay', 'age': 18, 'address': {'street': 'Cibadak', 'number': 19, 'province': 'Jawa Barat'}, 'isMarried': False, 'hobbies': ['Volleyball', 'Football']}
{'name': 'Ibnu', 'age': 19, 'address': {'street': 'Cibadak', 'number': 33, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Swimming', 'Badminton']}
Jawa Barat

In [195]:
#Konversi dictionary

list_list = [["Name","Apay"],["Age",18],["Status",False]]
dictListStudent = dict(list_list)
print(dictListStudent)

print("===================================")

list_tuple = [("Name","Ibnu"),("Address","Cibadak")]
dictTupleStudent = dict(list_tuple)
print(dictTupleStudent)

print("===================================")

tuple_list = (["Name","Pais"],["Type","Man"])
dictTuplePeople = dict(tuple_list)
print(dictTuplePeople)

print("===================================")

tuple_tuple = (("Name","Cat"),("Type","Mamalia"))
dictTupleAnimal = dict(tuple_tuple)
print(dictTupleAnimal)

print("===================================")

keys = ["Vehicle","Brand","cc"]
values = ["Motorcycle","Mio",125]
motorcycle = dict(zip(keys,values))
print(motorcycle)

{'Name': 'Apay', 'Age': 18, 'Status': False}
===================================
{'Name': 'Ibnu', 'Address': 'Cibadak'}
===================================
{'Name': 'Pais', 'Type': 'Man'}
===================================
{'Name': 'Cat', 'Type': 'Mamalia'}
===================================
{'Vehicle': 'Motorcycle', 'Brand': 'Mio', 'cc': 125}